<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 401</title>
</head>
<body style="user-select: none;font-family:Verdana, Geneva, Tahoma, sans-serif; background-color: #dcedf9;">
    <p style="text-align: center;"><a href="/" style="text-decoration: none; color:#0077b3; font-size:20px; padding: 5px 10px; border-radius:5px; border:1px solid #0077b3; cursor: pointer; text-align: center;">Return Home</a></p>
    <div style="display: flex; justify-content: center; user-select: none;">
    <img src="/images/Error404.jpg" alt="." style="height: 80vh; padding:0;margin:0;-webkit-user-drag: none;user-select: none;-moz-user-select: none;">
    </div>
</body>
</html>