<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- CSS only -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" 
	integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" 
	crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" 
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="/css/template.css">
	<title>Aagam Jain</title>
</head>
<body class="">
	

    <div class="row">

        <div class="col-12 header">
            <div class="d-flex justify-content-center">
                <% if(locals.userData.photo!=""){%>
                <img src="<%= locals.userData.photo %>" alt="" style="width:100px; border-radius: 50%; background-color:aliceblue; border: 2px solid rgb(230, 230, 230);">
                <%}else{%>
                <img src="https://www.pngmart.com/files/21/Account-User-PNG-Transparent.png" alt="" style="width:100px; border-radius: 50%; background-color:aliceblue; border: 2px solid rgb(230, 230, 230);">
                <% } %> 
            </div>
            <div>
                <h3 class="text-center"><%= locals.userData.name %></h3>
            </div>
            <div>
                <h6 class="text-center">I'm passionated SDE aspirant.</h6>
            </div>
            <div>
                <p class="row">
                    <span class="col-12 col-sm-6 col-lg-3 text-center"><i class="fa-brands fa-linkedin-in"></i>
                    linkedin.com/in/aagam-jain-gl01
                    </span>
                    <span class="col-12 col-sm-6 col-lg-3 text-center"><i class="fa-solid fa-at"></i>
                    aagamjain573@gmail.com
                    </span>
                    <span class="col-12 col-sm-6 col-lg-3 text-center"><i class="fa-solid fa-location-dot"></i>
                    206 civil lines Lalitpur
                    </span>
                    <span class="col-12 col-sm-6 col-lg-3 text-center"><i class="fa-solid fa-phone"></i>
                    93054xxxxx
                    </span>
                </p>
            </div>
        </div>
    </div>

    <div class="row p-2 d-flex justify-content-center">
            <div class="col-12 col-md-10 proDes">
                <h4>Description</h4>
                <div class="h4Bottom"></div>
                <p>Hi! My name is Aagam Jain. I'm very dedicated and hardworking person who always thrives to work on end to end products. With my experience and knowlege I acquire many skills and make many successful projects. I enjoyed every step of creation , learning , development and collaboration.</p>
            </div>
    </div>


    <div class="row p-2 d-flex justify-content-center">

            <div class="col-12 col-lg-6 col-md-9 mx-2 py-2 ">
               
<!-- ------------------------------------------------------Education ------------------------------------------------------------- -->
                <div class="row">
                    <div class="education">
                        <h4>Education</h4>
                        <div class="h4Bottom"></div>
                    <div class="con">
                        <div class="design">
    
                        </div>
                        <div class="details col-12">
    
                            <div class="p-2">
                                <div class="dot"></div>
                                <div class="colSch"> 
                                    <div class="date">
                                        <i class="fa-solid fa-calendar-days"></i>
                                        2020 - present
                                    </div>
                                    <div class="row px-1">
                                        <div class="col-12 d-flex flex-column flex-md-row justify-content-md-between">
                                            <p class="bold600 ">UIET CSJM University Kanpur</p>
                                            <p>Cgpa: <span class="bold600">7.94</span> </p>
                                        </div>
                                        <div class="col-12 d-flex flex-column flex-md-row justify-content-md-between">
                                            <p>B-Tech CSE</p>
                                            <p>Roll no: <span class="bold600">001</span></p>
                                        </div>
                                            <p>Year of Completion: <span class="bold500">2024</span></p>
                                    </div>
                                </div>
                            </div>
    
                            <div class="p-2">
                                <div class="dot"></div>
                                <div class="colSch"> 
                                    <div class="date">
                                        <i class="fa-solid fa-calendar-days"></i>
                                        2007 - 2019
                                    </div>
                                    <div class="row px-1">
                                        <div class="col-12 d-flex flex-column flex-md-row justify-content-md-between">
                                            <p class="bold600 ">St. Dominic Savio convent School Lalitpur</p>
                                            <p>Per: <span class="bold600">87.4%</span> </p>
                                        </div>
                                        <div class="col-12 d-flex flex-column flex-md-row justify-content-md-between">
                                            <p>12th Board PCM + CS</p>
                                        </div>
                                            <p>Year of Completion: <span class="bold500">2019</span></p>
                                    </div>
                                </div>
                            </div>
    
                        </div>
                    </div>
                </div>


<!-- ------------------------------------------------------Experience ------------------------------------------------------------- -->


                <div class="row">
                    <div class="experience">
                        <h4>Working experience</h4>
                        <div class="h4Bottom"></div>
                    <div class="con">
                        <div class="design">
    
                        </div>
                        <div class="details col-12">
    
                            <div class="p-2">
                                <div class="dot"></div>
                                <div class="colSch"> 
                                    <div class="date">
                                        <i class="fa-solid fa-calendar-days"></i>
                                        2020 - 2021
                                    </div>
                                    <div class="row px-1">
                                        <div class="col-12 d-flex flex-column flex-md-row justify-content-md-between">
                                            <p class="bold600 ">Firm Name</p>
                                            <p class="bold600"> SWE Intern</p>
                                        </div>
                                        <div class="col-12 d-flex flex-column flex-md-row justify-content-md-between">
                                            <p>I work there on a backend project.</p>
                                        </div>
                                        <div class="col-12 d-flex flex-column flex-md-row justify-content-md-between">
                                            <p><span class="bold500">Tech:</span> Html, CSS, Javascript</p>
                                        </div>
                                            <p> <a href="">Link</a></p>
                                    </div>
                                </div>
                            </div>
    
                         </div>
                     </div>
                  </div>
               </div>
            </div>


<!-- ------------------------------------------------------Project------------------------------------------------------------- -->


            <div class="row">
                <div class="project">
                    <h4>Project</h4>
                    <div class="h4Bottom"></div>
                <div class="con">
                    <div class="design">

                    </div>
                    <div class="details col-12">

                            <div class="p-2">
                                <div class="dot"></div>
                                <div class="colSch"> 
                                    <div class="date">
                                        <i class="fa-solid fa-calendar-days"></i>
                                        4/2022 - 5/2022
                                    </div>
                                    <div class="row px-1">
                                        <div class="col-12 d-flex flex-column flex-md-row justify-content-md-between">
                                            <p class="bold600 ">CP CONTEST Calender</p>
                                            <p class="bold600"> Github Repo</p>
                                        </div>
                                        <div class="col-12 d-flex flex-column flex-md-row justify-content-md-between">
                                            <p>This extension is very useful for programmers who do Competitive Programming, this extension provides upcoming CP contest details of different platforms.</p>
                                        </div>
                                        <div class="col-12 d-flex flex-column flex-md-row justify-content-md-between">
                                            <p><span class="bold500">Tech:</span> Html, CSS, Javascript</p>
                                        </div>
                                            <p> <a href="">Link</a></p>
                                    </div>
                                </div>
                            </div>

                           <div class="p-2">
                                <div class="dot"></div>
                                <div class="colSch"> 
                                    <div class="date">
                                        <i class="fa-solid fa-calendar-days"></i>
                                        4/2022 - 5/2022
                                    </div>
                                    <div class="row px-1">
                                        <div class="col-12 d-flex flex-column flex-md-row justify-content-md-between">
                                            <p class="bold600 ">CP CONTEST Calender</p>
                                            <p class="bold600"> Github Repo</p>
                                        </div>
                                        <div class="col-12 d-flex flex-column flex-md-row justify-content-md-between">
                                            <p>This extension is very useful for programmers who do Competitive Programming, this extension provides upcoming CP contest details of different platforms.</p>
                                        </div>
                                        <div class="col-12 d-flex flex-column flex-md-row justify-content-md-between">
                                            <p><span class="bold500">Tech:</span> Html, CSS, Javascript</p>
                                        </div>
                                            <p> <a href="">Link</a></p>
                                    </div>
                                </div>
                            </div>

                            <div class="p-2">
                                <div class="dot"></div>
                                <div class="colSch"> 
                                    <div class="date">
                                        <i class="fa-solid fa-calendar-days"></i>
                                        4/2022 - 5/2022
                                    </div>
                                    <div class="row px-1">
                                        <div class="col-12 d-flex flex-column flex-md-row justify-content-md-between">
                                            <p class="bold600 ">CP CONTEST Calender</p>
                                            <p class="bold600"> Github Repo</p>
                                        </div>
                                        <div class="col-12 d-flex flex-column flex-md-row justify-content-md-between">
                                            <p>This extension is very useful for programmers who do Competitive Programming, this extension provides upcoming CP contest details of different platforms.</p>
                                        </div>
                                        <div class="col-12 d-flex flex-column flex-md-row justify-content-md-between">
                                            <p><span class="bold500">Tech:</span> Html, CSS, Javascript</p>
                                        </div>
                                            <p> <a href="">Link</a></p>
                                    </div>
                                </div>
                            </div>

                     </div>
                 </div>
              </div>
           </div>

                
            


            

        </div>
<!-- ------------------------------------------------------ Col-4 section ------------------------------------------------------------- -->
            
            
        









            <div class="col-12 col-lg-4 col-md-9 mx-2 boxcol4">

<!-- ------------------------------------------------------ Social section ------------------------------------------------------------- -->

                <div class="row spre py-3 p-1">
                    <h4>Social presence</h4>
                    <div class="h4Bottom"></div>
                    <div class="social row">
                        <div class="media p-2 col-12 col-sm-6 col-lg-12">
                            <a href="" target="_blank" rel="noopener noreferrer"><img src="https://lh5.googleusercontent.com/2ObkNTLl4H9F3zyoKwej3hz8l1pp4wR_ctPM12pRytcSW2RTUD1Ki12AKmTR2WqDP6CLfLaX3yIU7XAzrOHLil2SirdecgWdiLnQ-KODcQOrVJXP1S0MrHdjHUzCjgv_iHECCR51tzTCqoxIzA" alt=""></a>
                            <a href="" target="_blank" rel="noopener noreferrer"><img src="https://lh3.googleusercontent.com/fIR9dThdbJUu52pEX83SZbDJKlLjUDAsj7JI-UWj4qR2bHFMZaR-EYTJFnBVo5KSQEKTIa3sDQZ5TwnVNb3JuEJksRs26IomZMHflq-A04KfOx3pfnxX3AstMX3-Jzqp2vzPZLKH2f2aikeTAg" alt=""></a>
                            <a href="" target="_blank" rel="noopener noreferrer"><img src="https://lh3.googleusercontent.com/bU_j_b01hINKA-5CTecm7Roht8uv7zFmyT0DoP1svv2c2gjXX03lIZaylXZGOyTdpsZvQdJJ0wbaPDFFCQ7udRVXDI5qRTzACOTUFM6GQ3DuBhCIXBl-PLVORFpP-sNCxhQikyY3vKgbayH9kg" alt=""></a>
                            <a href="" target="_blank" rel="noopener noreferrer"><img src="https://lh4.googleusercontent.com/dCZhlbHyZv8q2ZMEOykmAPZTJXrfGBpejbw_FcI9CXXaO7qICiyZSv_2d1FzFbw4P0skNePw87kz-avJdkYIn7FajQcTZ9gqcK5C1KML8emJnW7fPs1DHPj9TeUkLUDSUrUbebI69YVjpEfLHQ" alt=""></a>
                            <a href="" target="_blank" rel="noopener noreferrer"><img src="https://lh3.googleusercontent.com/grC8Se30jUVRYcwl4gDlyaqCQGrxc8fny4wduP_WbT03jcjX0tlEk2odI0DMgf5a_Sq-0BvKoyl1K_glniKR6N04-sQSk9asy_WAGh6Djm1Q7-JADyfF-InBFIvUxCa3CaaUn-HOSmo1PeSnHQ" alt=""></a>
                            <a href="" target="_blank" rel="noopener noreferrer"><img src="https://lh4.googleusercontent.com/Drj4MV2SRDDTqVPzcfbQ9Wvx51g6oZX4g_8kUjNhCCWkgLmROFQNfyMHMl8GAWQGLzKSujRHK7N3iSthYHc2ToZc_6AjH3WOxy4IwBLD3qf0Yga6ZUT0_o9gdUWifoiRd6CGApO1Vc-tqZo7kQ" alt=""></a>
                        </div>
                        <div class="coding p-2 col-12 col-sm-6 col-lg-12">
                            <a href="" target="_blank" rel="noopener noreferrer"><img src="https://lh4.googleusercontent.com/I_xg7T4Awl5UbhcsNMk-sKB5fVjOFyXjaaLvOD4ZKilSKYf2luG47FheyaHxqIBoFnNmfRsKQEL-uTZDHmQ1_OU8Gu1BUjHbLwSo7c2VWjNwXZzVzHFa_rGVtqGk_J_0GDg16emzO8VTnuV7Nw" alt=""></a>
                            <a href="" target="_blank" rel="noopener noreferrer"><img src="https://lh6.googleusercontent.com/ZSEapcPWOMrfMW0-eWozQKv_OdW6Zer2eHDi5I7Oi9GlGdMMCmAzV5Grhz5QU9GO9DC6Q93_sMs1HSr_k3bMV90CR1Sa9peCskvkWxFktogVvyBN8R_NLBag31g2hh9xWjb7nrGKDUpYI6DE3Q" alt=""></a>
                            <a href="" target="_blank" rel="noopener noreferrer"><img src="https://lh3.googleusercontent.com/-fwzSGWux1_05Z1oBCwNY-eg2naoLqkbqColt4yc9P6Zyk6v4Jn1BVQzEAcApu9QS4ixrBLg4cEcDm5uVxm0aaaeMlcPO_v-V3gYVGOdKKydLASRnoFf7s3b0QdMtd_bAjMt1czGKOHNwwV5Lw" alt=""></a>
                            <a href="" target="_blank" rel="noopener noreferrer"><img src="https://lh4.googleusercontent.com/fzFy3Gu3jKTkYplOYUojb-m9NAhYK8mKcMZEf3O2zGYkN9p6vy5CH4jKocujTAhtVn0AxhyiQEirdoyqlv2TuDKIVoy6G8dbclep8CgkpNJ1QUc-p7cnalvkaRumIm2Ktwt3tiy1W4WQCwGvpw" alt=""></a>
                            <a href="" target="_blank" rel="noopener noreferrer"><img src="https://lh3.googleusercontent.com/GPcvAbpf8D69aj-GzpOt6jZ28QXZ-0FpEgDh7Ag3oCESsbr4UfmK2v0b4-KytDnBTDVZDfmHUAdVR_J3GbvIiWYEPRVR7A0pzekgih4hOIk8jNNuJb-0afhvRuRsaWg9SAHixSoAiKmIgnG44g" alt=""></a>
                            <a href="" target="_blank" rel="noopener noreferrer"><img src="https://lh4.googleusercontent.com/MkjcsJIJezRCdBozekMrip1lio4iTZstp7aycTymX9qAp97upeaIs_5RFSyeesuMUZFBXKLtPWEaCPJl4bMQHJLiM5a4HtvnMQ-xqK5E2xL3BLrzwXAHFpc3H34Ah4wtlLoCHcH7CZqQDorSxg" alt=""></a>
                        </div>
                    </div>
                </div>

<!-- ------------------------------------------------------ Skill section ------------------------------------------------------------- -->
                <div class="row skies py-3 p-1">
                    <h4>Skills</h4>
                    <div class="h4Bottom"></div>
                        <div class="skill row">
    
                           <div class="skillbox">C</div>
                           <div class="skillbox">C++</div>
                           <div class="skillbox">Java</div>
                           <div class="skillbox">JavaScript</div>
                           <div class="skillbox">HTML</div>
                           <div class="skillbox">CSS</div>
                           <div class="skillbox">Bootstrap</div>
                           <div class="skillbox">NodeJs</div>
                           <div class="skillbox">ExpressJs</div>
                           <div class="skillbox">Mongoose</div>
    
                        </div>
                </div>


<!-- ------------------------------------------------------ Certificate section ------------------------------------------------------------- -->
                <div class="row ceries py-3 p-1">
                    <h4>Certificates</h4>
                    <div class="h4Bottom"></div>
                        <div class="certificates row">
    
                           <a href=""><div class="ceriesBox"><h5>Front-End Web UI Frameworks and Tools: Bootstrap 4</h5><p>Coursera</p></div></a>
                           <a href=""><div class="ceriesBox"><h5>CP & Algo </h5><p>Coding Ninja</p></div></a>
                           <a href=""><div class="ceriesBox"><h5>Web development</h5><p>Edureka</p></div></a>
                           <a href=""><div class="ceriesBox"><h5>CP & Algo </h5><p>Coding Ninja</p></div></a>

    
                        </div>
                    </div>

<!-- ------------------------------------------------------ Honor section ------------------------------------------------------------- -->
                <div class="row honies py-3 p-1">
                    <h4>Achievements</h4>
                    <div class="h4Bottom"></div>
                        <div class="honor row">
    
                           <div class="honiesBox"><p><span class="shine">⭐️</span>  I got 500 rank in google kickstart-A 2022. <a href="">More</a></p></div>
                           <div class="honiesBox"><p><span class="shine">⭐️</span> I got 800 rank codeforces (round 623). <a href="">More</a></p></div>
                           <div class="honiesBox"><p><span class="shine">⭐️</span> I got 10 CGPA in 4th semester of my Btech college. <a href="">More</a></p></div>

    
                        </div>
                    </div>





                
        </div>
    </div>

        <div class="row p-2 d-flex justify-content-center">
            <div class="col-12 col-md-10 proDes">
                <h4>Extra Detail</h4>
                <div class="h4Bottom"></div>
                <p>Hey visitor ! Currently I am a 3rd year graduate and seeking a good internship opportunity, if you have any opportunity then please contact me. Here I attached my resume and above I have provided all important info related to my projects and experience , if any internship / freelance work related to mty profile then please contact me.</p>
            </div>
         </div>

    <div class="row">
        <div class="col-12 d-flex justify-content-center p-2 my-2">
            <button type="button" class="btn btn-primary"> Resume </button>
        </div>

    </div>



    <div class="row header p-1 text-center">
        <div class="col-12">
           Visitor Count : 1
        </div>
        <div class="col-12 p-4">
           <h4>Copyright @GL01</h4> 
        </div>
    </div>

	<!-- JavaScript Bundle with Popper -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" 
	integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" 
	crossorigin="anonymous"></script>
	<script src="/js/template.js"></script>
</body>
</html>